[user]
	name = Rob Howard
	email = rob@robhoward.id.au
[diff]
	external = ~/bin/git_vimdiff_wrapper.sh
[pager]
	diff =
[merge]
	renameLimit = 10000
[alias]
	stat = status
	s = status
	co = checkout
	b = branch
	serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git
	pc = push origin HEAD
