.vim/.netrwhist
.DS_Store

/.ssh/*
!/.ssh/config

/.bundle/cache

/.vim/plugged
/.vim/session

/.vim/bundle
/.vim/haskell/bin
/.vim/haskell/data
/.vim/haskell/libexec
/.vim/haskell/.cabal-sandbox
/.vim/haskell/cabal.sandbox.config
/.vim/sessions
/.vim/undodir

/.bashrc.d/*

/parked

/.config/karabiner/automatic_backups
