span, i {
  -webkit-user-select: none;
}

/*i {
  display: block;
}*/

.hide {
  display: none;
}

[hidden] {
  display: none !important;
}

main {
  position: relative;
  max-width: 738px;
}

#settings-tab {
  margin-top: 40px;
}

.flex-container {
  display: flex;
}

.panel {
  display: none;
}

.panel.active {
  display: flex;
}

#navigation.changing-content {
  -webkit-transition: -webkit-transform 100ms, width 100ms;
}

#navigation {
  height: 100%;
  left: 0;
  /*margin-top: -20px;*/
  position: fixed;
  right: 15px;
  width: 155px;
  z-index: 3;
  border-right: 1px solid #eee;
}

.dark #navigation {
  border-right: 1px solid #343536;
}

.dark a {
  color: #4193c6;
}

.nav-contents {
  overflow: hidden;
  padding-top: 21px;
  margin: 0;
}

#nav-header {
  margin-left: 23px;
  color: rgb(92, 97, 102);
  margin-bottom: 1.5em;
  /*margin-top: 24px;*/
  margin-top: 4px;
  font-size: 1.5em;
}

.nav-contents .brand-logo {
  display: flex;
  position: relative;
  margin-left: 23px;
}

.nav-contents .brand-logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: rgb(92, 97, 102);
}

.dark .nav-contents .brand-logo a {
  color: #C4C7C9;
}

.nav-contents .brand-logo .logo-icon {
  width: 24px;
  margin-right: 4px;
}

.nav-list {
  list-style-type: none;
  padding: 0;
}

.nav-controller {
  height: 30px;
  -webkit-border-start: 6px solid transparent;
  -webkit-padding-start: 18px;
  -webkit-user-select: none;
  cursor: pointer;
}

.nav-box {
  display: flex;
}

.nav-anchor {
  text-decoration: none;
  border: 0;
  color: #999;
  cursor: pointer;
  font: inherit;
  line-height: 1.417em;
  margin: 6px 0;
  padding: 0;
}

.dark .nav-anchor {
  color: #4193c6;
}

.nav-controller.selected {
  -webkit-border-start-color: rgb(78, 87, 100);
  cursor: default;
  pointer-events: none;
}

.dark .nav-controller.selected {
  -webkit-border-start-color: #4394ba85;
}

.selected .nav-anchor {
  color: rgb(70, 78, 90);
}

body header .divider {
  min-width: 600px;
  max-width: 100%;
  border-bottom: 1px solid #eee;
}

.dark body header .divider {
  border-bottom: 1px solid #343536;
}

body header #header-panel {
  padding: 14px 12px 10px 6px;
  align-items: center;
  display: flex;
  min-height: 2em;
}

body {
  display: block;
  position: relative;
  cursor:default;
  color: rgb(48, 57, 66);
  margin: 0;
  min-height: 616px;
  background: rgb(255, 255, 255);
  -webkit-margin-start: 155px;
  font-size: 0.85em;
  /*font-size: 82%;*/
}

.dark {
  background: #222222;
}

.dark body {
  color: #D4D7D9;
  background: #222222;
}

body header {
  left: 155px;
  max-width: 100%;
  min-width: 600px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  background-image: -webkit-linear-gradient(white, white 40%, rgba(255, 255, 255, 0.92));
  border-left: 1px solid #eee;
}

.dark body header {
  background: #222222;
  border-left: 1px solid #343536;
}

/*body header h1 {
  margin: 0;
  padding: 21px 0 14px;
  width: 100%;
  min-width: 160px;
}*/

h1 {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

h3 {
  color: black;
  font-size: 1.2em;
  margin-bottom: 0.8em;
  font-weight: normal;
  line-height: normal;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

body .page {
  display: none;
  -webkit-margin-end: 24px;
  min-width: 576px;
  padding-bottom: 20px;
  padding-top: 65px;
  -webkit-margin-start: 8px;
}

.page.active {
  display: block
}

active-list {
  display: block;
}

saved-list {
  display: block;
}

/** Columns */

body.double-column header {
  /*max-width: calc(100% - 155px);*/
}
body.double-column .divider {
  max-width: 100%;
}
body.double-column main {
  max-width: 100%;
}
body.double-column active-list,
body.double-column saved-list {
  column-gap: 8px;
  column-width: 600px;
}
/*body.double-column .page.active {
  max-width: 100%;
}*/
body.double-column .win {
  -webkit-column-break-inside: avoid;
  max-width: 960px;
}

/* Columns for screens smaller than 1400px */
@media (max-width: 1400px) {
  body.double-column active-list,
  body.double-column saved-list {
    column-gap: 8px;
    column-width: 520px;
  }
}

@media (min-width: 1080px) {
/*  body.single-column header {
    max-width: 85%
  }*/
  body.single-column .divider {
    max-width: 100%;
  }
  body.single-column main {
    /*max-width: 978px;*/
    max-width: 100%;
  }
  body.single-column .win {
    max-width: 960px;
  }
}

/** Settings */
.settings-container {
  margin-bottom: 20px;
  padding-bottom: 12px;
  /*border-bottom: 1px solid #eee;*/
}

.settings-title {
  color: rgb(48, 57, 66);
  font-size: 1.2em;
  font-weight: 500;
  padding-right: 20px;
}

.dark .settings-title {
  color: #C4C7C9;
}

.settings-table {
  border: none;
}

.settings-table td p {
  padding: 0;
  margin: 8px;
  margin-right: 40px;
}

.panel-notification {
  font-size: 13px;
  color: #246c99;
  width: 120px;
  padding-right: 20px;
  margin-top: 12px;
  margin-left: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}