/* Undo button */

#close-undo-button {
  margin-right: 26px;
  display: block;
  flex-shrink: 0;
}

/* Move tabs dropdown button */

#move-button {
  margin-right: 24px;
  margin-left: 24px;
  display: block;
  flex-shrink: 0;
}

#saveto-button {
  margin-right: 24px;
  flex-shrink: 0;
  --list-item-icon: url('/res/icons/chrome-gray.png');
}

/* Sort tabs dropdown button */

#sort-button {
  margin-left: 24px;
  flex-shrink: 0;
  cursor: pointer;
}

.sort-item-selected {
  background-color: #ebebeb;
}

/* Close tabs button */

#close-tabs-button {
  margin-right: 24px;
}
